<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
  </head>
  <body>
    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Features</h2>
            <hr class="primary"> </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/prefab_base.gif"
                class="img-responsive" alt="">
              <h3>Feature1</h3>
              <p class="text-muted"><br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/dynamic_update.gif"
                class="img-responsive" alt="">
              <h3>Feature2</h3>
              <p class="text-muted"><br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/nested_prefab.gif"
                class="img-responsive" alt="">
              <h3>Feature3</h3>
              <p class="text-muted"><br>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/smart_select.gif"
                class="img-responsive" alt="">
              <h3>Feature4</h3>
              <p class="text-muted"><br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/prefab_collection.gif"
                class="img-responsive" alt="">
              <h3>Feature5</h3>
              <p class="text-muted"><br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/nested_prefab_rand.gif"
                class="img-responsive" alt="">
              <h3>Feature6</h3>
              <p class="text-muted"><br>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/seed_linkers.gif"
                class="img-responsive" alt="">
              <h3>Feature7</h3>
              <p class="text-muted"><br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/level_randomization.gif"
                class="img-responsive" alt="">
              <h3>Feature8</h3>
              <p class="text-muted"><br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/runtime_support.gif"
                class="img-responsive" alt="">
              <h3>Feature9</h3>
              <p class="text-muted"><br>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/async_build.gif"
                class="img-responsive" alt="">
              <h3>Feature10</h3>
              <p class="text-muted"><br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/opensource.png" class="img-responsive"
                alt="">
              <h3>Open Source</h3>
              <p class="text-muted">MB-Lab is free and Open Source.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/support.png" class="img-responsive"
                alt="">
              <h3>Support</h3>
              <p class="text-muted"><br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
