<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
  </head>
  <body>
    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Features</h2>
            <hr class="primary"> </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/wireframe_280_sm.png"
                class="img-responsive" alt="">
              <h3>Professional topology</h3>
              <p class="text-muted">Complete mesh with teeth, tongue, eyelashes, gum, and eyes as part of main mesh to morph them and easily export them to external software. Optimized topology for subdivision surface and sculpting.<br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/skeleton_sm.png"
                class="img-responsive" alt="">
              <h3>Ready for animation</h3>
              <p class="text-muted">Standard skeleton and a well tested rigging, developed to match most external applications and motion capture files. Auto fitting of skeleton. Inverse kinematics
<br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/gallery_100_12_mod.png"
                class="img-responsive" alt="">
              <h3>Anthropological phenotypes library</h3>
              <p class="text-muted">The lab provides a library of preset that covers the most common human phenotypes.<br>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/shaders_sm.png"
                class="img-responsive" alt="">
              <h3>Advanced shaders</h3>
              <p class="text-muted">Procedural texturing in addition to image maps. Provides support for both Cycles and EEVEE.<br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/proxy01.png"
                class="img-responsive" alt="">
              <h3>Clothing and Hair</h3>
              <p class="text-muted">Add clothing and hair assetsto MB-Lab characters. Proxy fitting allows the transfer of weights to assets.<br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/female_hdri_01_sm.png"
                class="img-responsive" alt="">
              <h3>Parametric</h3>
              <p class="text-muted">Hundreds of moprhing parameters. Fuzzy logic algorithm for interpolation permits to mix the parameters in real-time.<br>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/anime_example_01.png"
                class="img-responsive" alt="">
              <h3>Anime Characters</h3>
              <p class="text-muted">Create Anime style characters, with custom advanced cell shader  <br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/features06_sm.png"
                class="img-responsive" alt="">
              <h3>Body Measure System</h3>
              <p class="text-muted">Create a character just giving the body measures. Currently it supports 33 classic dimensions, as used in the most of anthropometric studies and researches<br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/facial_rig_01_sm.png"
                class="img-responsive" alt="">
              <h3>Facial Expressions</h3>
              <p class="text-muted">Along with a library of facial expressions, a custom rig is provided to help animate faces<br>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/splash_2_80_sm.png"
                class="img-responsive" alt="">
              <h3>Blender 2.80 Compatible</h3>
              <p class="text-muted">Blender 2.80 ready and tested daily with new builds<br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/opensource.png" class="img-responsive"
                alt="">
              <h3>Open Source</h3>
              <p class="text-muted">MB-Lab is free and Open Source.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="features-box"> <img src="img/features/github_sm.png" class="img-responsive"
                alt="">
              <h3>Support</h3>
              <p class="text-muted">MB-Lab is actively developed and supported by an international team of artists and programmers<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
