<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
  </head>
  <body>
    <section id="support" class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Support</h2>
            <hr class="light">
            <p> MB-Lab is actively developed and supported. You can following
              along the development progress or reach the developers through
              these channels </p>
            <div class="col-lg-4 col-md-4 text-center">
              <div class="features-box"> <a target="_blank" href="https://blenderartists.org/t/mb-lab-1-7-1-release-for-blender-2-80/1138777/33"

                  class="btn btn-default btn-xl">Forum Support</a>
                <hr class="light">
                <p> Post your queries or follow along the development progress
                  on the BlenderArtists Forum</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
              <div class="features-box"> <a href="mailto:%7B%7B%20site.email%20%7D%7D"

                  class="btn btn-default btn-xl">Email</a>
                <hr class="light">
                <p>Email the developer</p>
                <p class="text-muted">{{ site.email }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
